.header {
    color: black;
    background-color: rgb(180, 240, 240);
    text-align: center;
    font-family: "Roboto", "Montserrat";
    font-size: 45px;
}

.img {
    text-align: center;
}

.small-heading {
    font-family: "Roboto", "Montserrat";
    font-size: 30px;
}
